# Root ignore
node_modules/
.DS_Store
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor/OS
.vscode/
.idea/

# Build outputs
app/dist/
server/dist/

# Caches
app/.cache/
server/.cache/

# Env files
.env
*.env
server/.env
server/*.env

# Local data, logs, and DBs
server/data/
server/logs/
server/prisma/*.db
server/prisma/*.db-journal
server/prisma/dev.db*

# Misc
scripts/tmp/
